@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply light;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-y: hidden; */
}

body {
    overflow-x: hidden;
}
.dark {
    --color-bg-primary: rgb(24, 25, 26);
    --color-bg-secondary: rgb(36, 37, 38);
    --color-text-primary: #f7fafc;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #81e6d9;
    --color-home-svg: var(--color-bg-primary);
    --color-btn-primary: #9333EA;
}

.light {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: rgb(223, 211, 235);
    --color-text-primary: #000000;
    --color-text-secondary: #4a5568;
    --color-text-accent: #2b6cb0;
    --color-home-svg: var(--color-bg-primary);
    --color-btn-primary: #9333EA;
}

.debug {
    border: 1px solid red;
}
.sidebar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #7948c9;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2c0964;
}

form {
    user-select: none;
}
.debug {
    border: 2px solid red;
}
.debug-green {
    border: 2px solid green;
}

.underline-title::after {
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background: rgb(168, 132, 224);
    transition: width 0.4s ease;
}

.underline-title:hover:after {
    width: 100%;
    background: #5705b4;
}

.alert {
    position: fixed;
    top: 20px;
    right: 20px;
}

.slideup-overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    z-index: 10px;
    display: none;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.project-card-container:hover .slideup-overlay,
.client-card-container:hover .slideup-overlay {
    /*  */
    display: flex;
    animation-name: slideup;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes slideup {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}
